{
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
    "modules": true,
    "blockBindings": true,
    "arrowFunctions": true,
    "classes": true,
    "defaultParams": true,
    "restParams": true,
    "templateStrings": true
  },
  "rules": {
    "no-shadow": 2
  },
  "extends": "eslint:recommended"
}
