{
  "extends": [
    "ybiquitous"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "benchmark/*.js",
        "*webpack*.js",
        "test/**/*.js"
      ]
    }]
  }
}
